<%= if @current_user do %>
  <li class="nav-item text-nowrap">
    <%= link @current_user.email, to: Routes.pow_registration_path(@conn, :edit),
      class: "nav-link" %>
  </li>
  <li class="nav-item text-nowrap px-3">
    <%= link "Sign out", to: Routes.pow_session_path(@conn, :delete),
      method: :delete, class: "nav-link" %>
  </li>
<% end %>
