<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
  <h1 class="h2"><%= @title %></h1>
  <div class="btn-toolbar mb-2 mb-md-0">
    <.link href={~p"/admin/members"}
      class="btn btn-sm btn-outline-secondary mr-2">Back</.link>
  </div>
</div>

<%= _form Map.put(assigns, :action, ~p"/admin/members/#{@member}") %>
