<%= if @current_user do %>
  <li class="nav-item text-nowrap">
    <.link href={~p"/registration/edit"} class="nav-link">
      <%= @current_user.email %>
    </.link>
  </li>
  <li class="nav-item text-nowrap px-3">
    <.link href={~p"/session"} method="delete" class="nav-link">Sign out</.link>
  </li>
<% end %>
